.navbar {
    background-color: #000000df;
}

.link {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

.link:hover {
    color: #ff6200;
    border-bottom: #ff6200 solid 4px;
}